.container-intro {
    margin : 0 100px;
}
.image-wrapper {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.small-img-col img {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin : 10px 0px;
}

