* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hover-link:hover {
    color: #ff9f1a;
}

.active-link {
    color: #ff9f1a;
    font-weight: bold;
    font-size: large;
    text-decoration-line: none;
}

.link {
    color: #282c34;
    font-weight: bold;
    font-size: large;
    text-decoration-line: none;
}

.hover-scale:hover {
    transform: scale(1.08);
    transition: transform 0.6s;
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
    width: 5%;
}

.custom-carousel .carousel-control-prev {
    left: 0;
}

.custom-carousel .carousel-control-next {
    right: 0;
}

.custom-carousel .carousel-indicators {
    display: none;
}

.hover-name:hover {
    color: green;
}
.hover-category:hover {
    font-weight: bold;
    color: green;
}
/* Add these styles to your style.css file */
.link-container {
    position: relative;
    display: inline-block;
}

.filter-dropdown {
    width: 100%;
    display: none;
    position: absolute;
    /*top: 100%;*/
    left: 0;
    z-index: 1;
    padding-bottom: 5px;
}

.link-container:hover .filter-dropdown {
    display: block;
}
.price-filter-group{
    border: 1px solid rgba(0, 0, 0, .09);
    margin: 1.25rem 0 0;
    padding: 10px;
    border-radius: 10px;
}
.sort-group{
    width: 100%;
    display: flex;
    margin: 1.25rem 10px 0;
    padding: 10px;
    border-radius: 3px;
    align-items: center;
}
.sort-item{
    margin-right: 10px;
}
.price-range-filter {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 0 .625rem;
}
.price-range-filter_input{
    font-size: .75rem;
    width: 5rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .26);
    border-radius: .125rem;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .05);
    box-sizing: border-box;
    font-size: .8125rem;
    height: 1.875rem;
    outline: none;
    padding-left: .3125rem;
    width: 4.375rem;
}
.price-range-line{
    background: #bdbdbd;
    flex: 1;
    height: 1px;
    margin: 0 .625rem;
}
/* nav on header */
header .navbar {
    transition: 0.6s;
    z-index: 99999;
}
.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}