
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.card {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    img {
        position: absolute;
        object-fit: cover;
        width:250px;
        height: 300px;
        top: 0;
        left: 0;
        opacity: 0.9;
        transition: opacity .2s ease-out;
    }

    h2 {
        position: absolute;
        inset: auto auto 30px 30px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        font-weight: bold;
        text-transform: uppercase;
        color: rgba(198, 199, 200, 0.9);
    }

    p, a {
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;

    }

    p {
        inset: auto auto 80px 30px;
    }

    a {
        inset: auto auto 40px 30px;
        color: #ffffff;
        text-decoration: none;
    }

    &:hover h2 {
        color: #ffffff;
        inset: auto auto 220px 30px;
        transition: inset .3s ease-out;
    }

    &:hover p, &:hover a {
        opacity: 1;
        transition: opacity .5s .1s ease-in;
    }

    &:hover img {
        transition: opacity .3s ease-in;
        opacity: 1;
    }

}

